*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* ************************************************************************** */
/* ***************************** ROBA GENERALE ****************************** */
/* ************************************************************************** */
body {

  /* Gradiente dall'alto verso il basso */
  background-image: linear-gradient(to bottom, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
}

main {
  display: flex;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
}

.clearfix{
  display: block;
  content: "";
  clear: both;
}

/* ************************************************************************** */
/* ***************************** CORPO PRINCIPALE *************************** */
/* ************************************************************************** */
.container {
  margin: auto;
  width: 80%;
  min-width: 900px;
  height: 95%;
}

/* ***************************** ENTRAMBE COLONNE *************************** */

.userProfile, .chatUser {
    width: 100%;
    height: 70px;
    background: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userProfile img, .chatUser img{
  width: 50px;
  height: 50px;
  margin: auto 0 auto 10px;
  border-radius: 100%;
  cursor: pointer;
}

.opzioni{
  display: flex;
  height: 100%;
  margin-right: 15px;
  cursor: pointer;
}

.opzioni i{
  margin: auto 10px;
  color: rgb(177, 177, 177);
  font-size: 22px;
}
/* ***************************** COLONNA CONTATTI *************************** */
.colonnaContatti {
    width: 35%;
    height: 100%;
    border-right: 1px solid #D6D6D6;
    float: left;
}

/* **** Rettangolo blu attiva notifiche ***** */
.bannerStressante{
  display: flex;
  width: 100%;
  height: 80px;
  background: #8EDAFC;
  text-align: center;
}

.bannerStressante i{
  width: 50px;
  height: 50px;
  line-height: 51px;
  margin-top: 15px;
  margin-left: 20px;
  background: #F2FBFF;
  border-radius: 100%;
  color: #8EDAFC;
  font-size: 20px;
}

.punzecchiata{
  width: calc(100% - 50px);
  text-align: left;
  margin: auto;
  padding: 0 10px;
}

.punzecchiata p{
  font-size: 16px;
}
.punzecchiata a{
  color: #4F7485;
  font-size: 13.5px;
}

/* ****    BARRA RICERCA ***** */
.barraRicerca{
  width: 100%;
  height: 50px;
  background: #FAFAFA;
}

.barraRicerca label i{
  float: left;
  width: calc(15% - 7px); /*tolgo il margin*/
  height: 36px;
  margin: 7px 0 7px 7px;
  border: 1px solid #F5F5F5;
  border-right: 0;
  background-color: white;
  line-height: 36px;
  text-align: center;
  color: #B6B9BB;
}

.barraRicerca input{
  float: left;
  width: calc(85% - 7px); /*tolgo il margin*/
  height: 36px;
  margin: 7px 7px 7px 0;
  padding: 0 10px;
  border: 1px solid #F5F5F5;
  border-left: 0;
  border-radius: 0px 3px 3px 0;
  color: #B6B9BB;
}

.barraRicerca input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}
/* ****    LISTA CONTATTI  ***** */
.listaContatti{
  width: 100%;
  /* 200 viene da -70px altezza userProfile, - 80px altezza bannerStressante, - 50px altezz barraRicerca */
  height: calc(100% - 200px);
  background: #fff;
  overflow-y: scroll;
}

.contatto{
  display: flex;
  cursor: pointer;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #F5F5F5;
}

.contatto:last-child{
  border-bottom: none;
}

.contatto:hover{
  background-color: #f4f5f5;
}

.logoContatto{
  width: 60px;
  height: 60px;
  margin: auto 20px;
  border-radius: 100%;
  overflow: hidden; /* nasconde i bordi dell'immagine*/
}

.logoContatto img{
  height: 100%;
  width: 100%;
}

.infoContatto{
  width: calc(100% - 100px);
  height: 60px;
  margin: auto 10px auto 0;
  padding-top: 9px;
}

.nomeContatto{
  float: left;
  font-size: 17px;
}

.ultimoAccessoContatto{
  float: right;
  color: rgba(183, 186, 187, 0.65);
  font-size: 12.11111px;
  margin-top: 3px;
}

.ultimoMesChat{
  float: left;
  font-size: 13.333333px;
  color: #B6B9BB;
  margin-top: 5px;
  width: 100%;
}

/* QUESTA SARA LA CLASSE DA ASSEGNARE
PER INDICARE CHE UN CONTATTO è CLICCATO */
.cliccato{
  background-color: #E9EBEB;
  border-bottom-color: transparent;
}
.contatto.cliccato:hover{
  background-color: #E9EBEB;
}

/* ***************************** COLONNA CHAT *************************** */
.colonnaChat{
  height: 100%;
  width: 65%;
  float: left;
}

/* ****    BARRA CON MITTENTE ***** */
.datiMittente{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.statoENome{
  margin-left: 15px;
  font-size: 16px;
  font-weight: normal;
}
.statoENome span{
  color: #6B7376;
  font-size: 13.3px;
}

/* ****    CHAT ***** */
.chatBoard{
  /*-70px è chatUser e il secondo -70 è la dimensione dell'input */
  height: calc(100% - 140px);
  width: 100%;
  padding: 5% 10%;
  background-image: url(img/sfondoChat.jpg);
  overflow-y: scroll;
}

.messaggio{
  /* metto position relative per ancorarci le vv */
  position: relative;
  margin: 5px 0;
  padding: 15px 15px 20px 15px;
  min-width: 20%;
  max-width: 60%;
  border-radius: 10px;
  font-size: 15px;
}

.messaggio.inviato{
  background: #D5F9BA;
  float: right;
  clear: both;
}

.messaggio i{
  display: none;
  font-size: 12px;
}

.messaggio:hover i{
  display: inline-block;
  color: #4dabf7;
}

.messaggio.ricevuto{
  background: white;
  float: left;
  clear: both;
}

.messaggio.ricevuto:hover i{
  display: inline-block;
  color: #B6B9BB;
}

.orarioMessaggio{
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
  color: #B6B9BB;
}

/* ****   INPUT ***** */
.inputChat{
  background-color: #F3EEEA;
  width: 100%;
  height: 70px;
}

.emoj{
  float: left;
  width: 10%;
  height: 100%;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  color: #6B7376;
}

.inputUtente{
  float: left;
  width: 80%;
  height: 50px;
  margin: 10px 0;
}

.inputUtente input{
  width: 100%;
  height: 100%;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: lighter;
  color: black;
}

.inputUtente input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.invia{
  float: left;
  width: 10%;
  height: 100%;
  line-height: 70px;
  text-align: center;
  font-size: 25px;
  color: #6B7376;
}
